extends layout

block content
  header(class="header")
    div
      h1= title
      p Welcome to #{title}
  div(class="container")
    each message in messages
      div(class="message")
        h3= message.user
        p= message.text 
        p= message.added
  div
    a(href=`http://localhost:${process.env.PORT || 3000}/new`)
      button(type="button", class="button") Add New messages
